smartapi-python==1.5.5
logzero==1.7.0
websocket-client==1.8.0
python-dateutil==2.9.0.post0
six==1.16.0
pyotp==2.9.0
pandas==2.2.2
numpy==1.26.4
ta==0.11.0
python-dotenv==1.0.1
yfinance==0.2.40
requests==2.32.3
